In [4]:
apes = ["Homo", "Pan", "Gorilla"]

for ape in apes:
    print(str(ape) + " is an ape.")
    print('\n')

Homo is an ape.


Pan is an ape.


Gorilla is an ape.

In [10]:
for ape in apes:
    name_length = len(ape)
    first_letter = ape[0]
    print(str(ape) + " is an ape. Its name starts with " + str(first_letter))
    print("Its name has " + str(name_length) + " letters.")
    print("\n")

Homo is an ape. Its name starts with H
Its name has 4 letters.


Pan is an ape. Its name starts with P
Its name has 3 letters.


Gorilla is an ape. Its name starts with G
Its name has 7 letters.

In [11]:
for number in range (2, 14, 4):
    print(number)
    
# printing number at intervals of 4 in the range (2, 14), excluding 14

2
6
10

In [3]:
count = 0
while count <10:
    print(count)
    count = count + 1

0
1
2
3
4
5
6
7
8
9

In [7]:
print("ATCGTT".count("T") > 1)

# boolean statement

True

In [13]:
expression_level = [98, 101, 100, 125]
for numbers in expression_level:
    if numbers > 100:
        print("gene is highly expressed")
    else:
        print("gene is lowly expressed")

gene is lowly expressed
gene is highly expressed
gene is lowly expressed
gene is highly expressed

In [16]:
x = 17
if x % 2 == 0:
    print("Divisible by 2")
elif x % 3 == 0:
    print("Divisible by 3")
elif x % 5 == 0:
    print("Divisible by 5")
else:
    print("Not divisible by 2, 3 or 5")

Not divisible by 2, 3 or 5

In [17]:
accs = ['ab56', 'bh84', 'hv76']
for acc in accs:
    print(acc.startswith('a') and not acc.endswith('5'))

True
False
False

## Class challenge

** STEP 1: Download file in the terminal **

Used wget to get the dataset:   
```
cd ~/Desktop/eeb177/class-assignments/
wget "www.nature.com/nature/journal/vaop/ncurrent/source_data/nature21074-f1.csv"
```

**STEP 2a: See the contents of the file**

Used head to see contents of file:

```
head nature21074-f1.csv
```

There is a problem with the end of line character.

**STEP 2b: Change /r to /n and save as new file**

```
cat nature21074-f1.csv | tr "\r" "\n" > formatted_nature.csv
```

**Find unique families**

Used command 
```
tail -n +2 formatted_nature1.csv | cut -d "," -f 3 | sort | uniq | wc -l
```
There are 194 unique families.

In [ ]:
**